/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ============== font imports ============== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* General Styles */

a {
    text-decoration: none;
    color: var(--negative-text);
    padding: 5px;
}

nav a:hover {
    background-color: var(--link);
    border-radius: 10px;
    color: #f9f9f9;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 50px !important;
    margin-bottom: 40px !important;
    word-wrap: break-word !important;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}

figcaption {
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 15px;
}


/* root variables */
:root {
    --link: rgba(204, 0, 0, 1);
    --bg-footer: #323232;
    --negative-text: azure;
    --normal-text: #323232;
    --normal-font-size: 14pt;
    --decorative: #ec1c24;
    --bg-content: #f9f9f9;
}

@media screen and (max-width: 768px) {

    h2 {
        margin-top: 50px !important;
        margin-bottom: 40px !important;
        word-wrap: break-word !important;
    }

    .nav {
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }

    main {
        margin: auto;
        min-width: 95%;
        min-height: 100vh;
    }

    #banner {
        min-width: 100%;
        max-width: 30%;

    }

    #sobre {
        width: 100%;
        height: 100% !important;
        word-wrap: break-word;
    }

    .card {
        display: block;
        min-width: 250px !important;
    }

    .card figure img {
        width: 100% !important;
    }

    .cards-body {
        display: flex;
        overflow: scroll;
        justify-content: start !important;
        flex-wrap: nowrap !important;
        gap: 10px;
    }

    #form-contato {
        margin: 20px !important;
    }

    #section-contato {
        margin: 0 !important;
    }

    .buttons {
        flex-direction: column !important;
    }

    .container-button {
        display: flex !important;
        justify-content: center !important;
    }

    div button {
        height: 60px !important;
        width: 150px !important;
        font-size: 1.5rem !important;
    }

    footer {
        padding-top: 20px;
        padding-bottom: 20px;
        height: max-content !important;
        display: block;
        overflow: hidden;
    }

    footer ul.content {
        text-align: center;
        padding: 20px;
        gap: 20px !important;
    }

}

/* ============== Header e Menu ==============*/

header {
    background-color: var(--bg-footer);
}

.nav {
    gap: 40px;
}

.nav li a {
    color: var(--negative-text);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.nav :hover {
    color: #ec1c24;
    transition: 1s;
    transform: scale(1.1);
}

#logo {
    width: 80px;
    height: auto;
    box-shadow: 1px white;
}

.drop {
    position: relative;
    display: inline-block;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: var(--normal-text);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    list-style: none;
    border-radius: 10px;
    white-space: nowrap;
}

.drop-content li {
    margin-top: 14px;
    margin-bottom: 14px;
}

.drop:hover .drop-content {
    display: block;
}

.drop:active .drop-content {
    display: block;
}

.menu li ul li a {
    color: var(--normal-text);

}

.menu li ul li a:hover {
    color: var(--negative-text);

}

.selected {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: var(--decorative);
    padding-bottom: 6px;
    border-style: solid;
}



/* ============== Conteúdo principal ============== */

/* Início */
main {
    margin: auto;
    width: 80%;
    min-height: 100vh;
    color: var(--normal-text);
    font-size: var(--normal-font-size);
}


#banner {
    display: flex;
    margin: auto;
    min-width: 50%;
}


#sobre {
    margin: auto;
    color: var(--bg-footer);
    text-align: center;
    width: 70%;
    line-height: 1.5;
    padding-top: 50px;
    padding-bottom: 50px;
}

#equipamentos {
    margin-bottom: 40px;
}

/* Cards */

.cards-body {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.card {
    background-color: #f9f9f9;
    padding: 12px;
    line-height: 1.2;
    border-radius: 10px;
    width: 360px;

}

.card figure {
    width: 100%;
    height: auto;
}

.card p {
    text-indent: 15px;
}

.card h3 {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}

.card ul span {
    font-weight: 600;
}

/* Galeria de fotos */
.gallery {
    display: flex;
    margin-bottom: 50px;
}

.gallery figure {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    border-radius: 5px;
}

.gallery figure:hover {
    border: 1px solid #777;
}

.gallery figure img {
    width: 300px;
    height: 200px;
}

.gallery figcaption {
    padding: 15px;
    text-align: center;
}

/* Página de Contato */

form {
    border-radius: 50px;
}

#form-contato {
    margin: 32px;
}

#section-contato {
    margin: 32px;
}

.buttons {
    min-width: 50px;
    display: flex;
    flex-direction: row;
}

div button {
    padding: 20px;
    display: flex;
    justify-content: center;
}

div button {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 0;
    background-color: #1B9D46;
    font-size: 16px;
    font-weight: bold;
    color: var(--negative-text);
    height: 40px;
    width: 100px;
    margin: 10px;
}

/* Página de Vídeos */

body {
    width: 100%;
}

.videos {
    padding-bottom: 40px;
}

.frame-figure {
    width: 80%;
    min-width: 17.5em;
    margin: 0 auto;
}

.boxVideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
}

.boxVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Página da Agenda */

table {
    font-family: sans-serif;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
    margin-bottom: 50px;
}


th {
    padding: 0.5em;
    overflow: hidden;

}

.day {
    display: block;
    font-size: 1.2em;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto 5px;
    padding: 5px;
    line-height: 1.8;
}

.short {
    display: none;
}

td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid;
    position: relative;
    height: 40px;
    cursor: pointer;
}




/* ============== Footer ============== */

footer {
    height: 100%;
    width: 100%;
    background: var(--bg-footer);
    color: var(--negative-text);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}


footer ul.content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

footer span {
    font-weight: bold;
}

footer li {
    padding-bottom: 5px;
}

footer ul ul {
    display: block;
    padding-top: 10px;
}

footer img {
    width: 32px;
    height: auto;
}

.image-link {
    background-color: var(--bg-footer) !important;
}

/* Página de Animação */

.caixa {
    width: 60%;
}

.container-box{
    display: flex;
    justify-content: center;

}

.anime {
    width: 65px;
    height: 65px;
    background-color: red;
    position: relative;

    animation-name: key-anime;
    animation-duration: 4s; 
    animation-iteration-count: infinite;  
    animation-direction: alternate; 
    animation-timing-function:ease-in-out; 

}

@keyframes key-anime {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 100% -65px;
        top: 0px;
    }

    50% {
        left: 100%;
        top: 200px;
    }

    75% {
        left: 0px;
        top: 200px -65px;
    }

    100% {
        border-radius: 50%;
        left: 0px;
        top: 0px;
    }
}